{% extends 'base.html' %}{% block title %}dashboard SysAdmin{% endblock %}<!---->
{% block navigation %}
 <!-- Nav -->
 <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard_sys_admin' %}"><span class="glyphicon glyphicon-log-in"></span> Inicio SysAdmin</a>
        <a class="nav-link" href="{% url '#' %}"><span class="glyphicon glyphicon-log-in"></span>Monitoreo de Servidores</a>
        <a class="nav-link" href="{% url 'logout_sys_admin' %}"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
      </li>
  </div>
{% endblock %} {%block content %}
<h2>inicio de sesión exitoso</h2>
{% endblock %}
