<!DOCTYPE html>
<html>
<head>
    <title>Terminal</title>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"
    integrity="sha512-2PRgAav8Os8vLcOAh1gSaDoNLe1fAyq8/G3QSdyjFFD+OqNjLeHE/8q4+S4MEZgPsuo+itHopj+hJvqS8XUQ8A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
    </script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css"
    integrity="sha512-iLYuqv+v/P4u9erpk+KM83Ioe/l7SEmr7wB6g+Kg1qmEit8EShDKnKtLHlv2QXUp7GGJhmqDI+1PhJYLTsfb8w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body>
    <h1>Terminal</h1>
    <div id="terminal"></div>

    <script>
        var term = new Terminal();

        // Obtener el elemento del terminal
        var terminalElement = document.getElementById('terminal');

        // Iniciar el terminal en el elemento
        term.open(terminalElement);

        // Establecer la conexión WebSocket con el servidor ttyd
        var socket = new WebSocket('wss://terminal:7681'); // Reemplaza 'localhost' con la dirección correcta si es necesario

        // Asignar eventos a la conexión WebSocket
        socket.onopen = function () {
            console.log('Conexión WebSocket establecida');
        };

        socket.onmessage = function (event) {
            // Recibir datos desde el servidor ttyd y mostrarlos en el terminal
            term.write(event.data);
        };

        socket.onclose = function () {
            console.log('Conexión WebSocket cerrada');
        };

        socket.onerror = function (error) {
            console.error('WebSocket error:', error);
        };

        // Enviar comandos desde el terminal al servidor ttyd
        term.onData(function (data) {
            socket.send(data);
        });
    </script>
</body>
</html>
