{% extends 'base_sysadmin.html' %}
{% block titulo %}Monitoreo Servicios{% endblock %}
{% block encabezado %}Monitor Servidores{% endblock %}
{% block scripts %}
<script src="/static/js/monitor_server.js"></script>
{% endblock %}

{% block contenido %}
<table class="table table table-blue">
  <thead>
    <tr>
      <th>Direccion IP</th>
      <th>Estado</th>
      <th>Procesador</th>   
      <th>Memoria</th>
      <th>Disco</th>
    </tr>
  </thead>
  <tbody id="cambiar"></tbody>
</table>
{% endblock %}

 <!-- Nav 
 <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard_sys_admin' %}"><span class="glyphicon glyphicon-log-in"></span> Inicio SysAdmin</a>
        <a class="nav-link" href="{% url 'state_servidor' %}"><span class="glyphicon glyphicon-log-in"></span>Monitoreo de Servidores</a>
        <a class="nav-link" href="{% url 'logout_sys_admin' %}"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
      </li>
  </div>
-->