{% extends 'base_sysadmin.html' %}
{% block titulo %}Monitoreo de Servidores{% endblock %}
{% block encabezado %}Monitoreo de Servidores{% endblock %}
{% block contenido %}
<section class="container">
  <div class="page-header">
    <h1>Servidores</h1>
  </div>
</section>
<div class="container">
  {% if error %}
  <h3 style="color:red">Ocurrieron errores al cargar datos</h3>
  <h4>Revise su conexión.</h4>
  {% else %}
  Bienvenido <b> <span style="color:violet">{{ admin.user_name }}</span> </b> 
  <table class="table">
    <thead>
      <tr>
        <th>IP</th>
        <th>CPU (%)</th>
        <th>Disco (%)</th>
        <th>RAM (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="ipv4_address">{{ servidor.ipv4_address }}</td>
        <td id="cpu"> {{ servidor.cpu }}</td>
        <td id="disco">{{ servidor.disco }}</td>
        <td id="memoria">{{ servidor.ram }}</td>
      </tr>
    </tbody>
  </table>
  {% if not error %}
  <script src="/static/js/monitor_server.js"></script>
  {% endif %}
</div>
{% endblock %}

{% block extrajs %}
{% if not error %}
<script>
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: "{% url 'recuperar_registros' servidor.id_srv %}",
            dataType: "json",
            headers: {'Authorization':'Token {{ servidor.token }}'},
            success : function (data) {
                      debugger;
                      $('#cpu').text( data.data.cpu);
                      $('#disco').text( data.data.disco);
                      $('#memoria').text( data.data.ram);
                    },
             error : function (error){
                console.log(error);
             }

                 });

    }, 15000)
</script>
{% endif %}
{% endblock %}