{% extends 'base.html' %}{% load static %}{% block title %}login Sysadmin{% endblock %} 
{% block head %}
    <script src="{% static 'js/request_token_sysadmin.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="loading-message" hidden='True'>Por favor, espera mientras se envía el token...</div>

    <p>Introduzca el nombre de su usuario en el campo "nickname" y a continuación solicite su token de doble autenticación</p>
    {% if messages %}
        <ul class='messages'>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        <section>
            <h2>Iniciar Sesión</h2>
            
            <fieldset>
                <legend>Credenciales de Sysadmin</legend>
            
                <label for='nickname'>nickname:</label>
                <input type='text' id='nickname', name='nickname'></input>

                <label for='password'>password:</label>
                <input type='password' id='password', name='password' autocomplete='off'></input>
                
                <label for='token_double_auth'>token de doble autenticación:</label>
                <input type='password' id='token_double_auth', name='token_double_auth' autocomplete='off'></input>
            </fieldset>
        </section>

    <button type='submit'>Enviar</button>
    <button type='button' id="bttn_request_token">Solicitar token de doble autenticación</button>
{% endblock %}
