{% extends 'base.html' %}{% load static %}{% block title %}login Sysadmin{% endblock %} 
{% block head %}
    <script src="{% static 'js/request_token_sysadmin.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="loading-message" hidden='True'>Por favor, espera mientras se envía el token...</div>
    <div class="page-header">
       <h1 style="text-align: center;">Introduzca el nombre de su usuario en el campo "Nickname"</h1>
       <h4 style="text-align: center;">solicite su token de doble autenticación</h4>
    </div>
  
    {% if messages %}
        <ul class='messages'>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        <section>
            <h2>Iniciar Sesión</h2>
            <h5 style="text-align: center;">Credenciales de SysAdmin</h5>
            
            <fieldset>
            <form action="/action_page.php" class="was-validated">
                <div class="login">
                <div class="col-md-9">
                    <label for='nickname' class="form-label" >Nickname:</label>
                    <input type="text" class="form-control" id="nickname" placeholder="Nickname" name="nickname">
                </div>
                    
                <div class="col-md-9">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="*********" name="password" autocomplete='off'>
                </div>

                <div class="col-md-9">
                    <label for='token_double_auth' class="form-label" >Token de doble autenticación:</label>
                    <input type="password" class="form-control" id='token_double_auth' placeholder="*********" name="token_double_auth" autocomplete='off'>
                </div>
                    
                <button type="submit" class="btn btn-primary">Enviar</button>
                <h6>Solicitar Token doble autenticación</h6>
                <button type='button' class="btn btn-outline-dark" class="btn btn-dark" id="bttn_request_token">Solicitar token</button>
                </div>
                    
            </form>   
            </fieldset>
        </section>
{% endblock %}
