{% extends 'base.html' %}
{% block title %}login 2FA{% endblock %}
{% block header %}Autenticación de doble factor{% endblock %}
{% block content %}
    {% if messages %}
        <ul class='messages'>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="card">
        <div class="card-header text-center">
            <h4>Ingrese su token de doble autenticación</h4>
        </div>
        <di class="card-body card-block">
            <form method='POST' class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row form-group">
                        <div class="col col-md-3 mb-3">{{ field.label_tag }}</div>
                        <div class="col-12 col-md-9 mb-3">{{ field }}</div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="is-invalid">
                                    <div class="badge bg-danger">{{ error|escape }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type='submit' class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}
