{% extends 'base_login.html' %} 
{% block title %}
    Registro de SysAdmin{% endblock %} 
{% block contenido %}

    {% if messages %}
        <ul class='messages'>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        <section class="container mt-3">
            <div class="page-header">
                <h1 style="text-align: center;">Registro de SysAdmin</h1>
                <h3>Credenciales del sitio web</h3>
            </div>
            
            <fieldset>
            <form action="/action_page.php" class="was-validated">
                <div class="mb-3 mt-3">
                  <label for='nickname' class="form-label" >Nickname:</label>
                  <input type="text" class="form-control" id="nickname" placeholder="Nickname" name="nickname">
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Escribe el nickname.</div>
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" class="form-control" id="password" placeholder="*********" name="password" >
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Escribe en el campo.</div>
                </div>

                <div class="mb-3">
                    <label for="repeat_password" class="form-label">Confirma el Password:</label>
                    <input type="password" class="form-control" id="repeat_password" placeholder="***********" name="repeat_password">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Escribe en el campo.</div>
                  </div>
            </fieldset>

                
                
            <fieldset>
                <legend>Información de Telegram</legend>
                <div class="mb-3">
                    <label for="chat_id" class="form-label">ID-Chat:</label>
                    <input type="text" class="form-control" id="chat_id" placeholder="ID-Chat" name="chat_id" >
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Escribe en el campo.</div>
                </div>
                
                <div class="mb-3">
                    <label for="token_bot" class="form-label">Token_Bot</label>
                    <input type="text" class=" form-control" id="token_bot " placeholder="Token-Bot" name="token_bot">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Escribe en el campo.</div>
                </div>
            </fieldset>
            
            {% load captcha %}
            {% captcha_render %}
            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            
        </div>
        </section>
        {% endblock %}
