{% extends 'base_admin.html' %}
{% block titulo %}Regristro de Servidores{% endblock %}
{% block encabezado %}Registrar un Servidor{% endblock %}
{% block contenido %}

<form action="#" method="POST">
  {% csrf_token %}
  <div class="contenedor">

    <div class="mb-3 mt-3">
      <label style="color:#FFFFFF" for="ipv4_address" class="form-label">Direccion IP del Servidor:</label>
      <input type="text" class="form-control" id="ipv4_address" placeholder="192.168.1.94" name="ipv4_address">
    </div>

    <div class="mb-3 mt-3">
      <label style="color:#FFFFFF" for="password" class="form-label">Ingrese una Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="********">
    </div>

    <div class="mb-3 mt-3">
      <label for="repeat_password" class="form-label">Confirma el Password:</label>
      <input type="password" class="form-control" id="repeat_password" placeholder="***********" name="repeat_password">
      <div class="valid-feedback">Valid.</div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar Servidor</button>
  </div>
</form>
{% endblock %}
