{% extends 'base.html' %}{% block title %}dashboard Admin Global{% endblock %}<!---->
{% block navigation %}
 <!-- Nav -->
 <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard_admon_global' %}"><span class="glyphicon glyphicon-log-in"></span> Inicio Admin Global</a>
        <a class="nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
      </li>
  </div>
{% endblock %} {%block content %}
<h2>Inicio de Sesión Exitoso</h2>
<h3>Bienvenido Admin</h3>
{% endblock %}
