{% extends 'base_admin.html' %}
{% block titulo %}Editar administradores{% endblock %}
{% block encabezado %}Editar administradores{% endblock %}
{% block contenido %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edición del SysAdmin: {{ object.user_name }}</h2>
        </div>
        <form action="{% url 'editar_admin' object.user_name %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <a href="{% url 'listar_admin' %}" class="btn btn-danger">Cancelar</a>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>        
    </div>
</div>
{% endblock contenido %}