{% extends 'base_admin.html' %}
{% block titulo %}Editar Servidor{% endblock %}
{% block encabezado %}Editar Servidor{% endblock %}
{% block contenido %}

<form action="" method="POST">
  {% csrf_token %}

  <div class="mb-3 mt-3">
    <label for="ipv4_address" class="form-label">Ingrese la nueva Direccion IP del Host:</label>
    <input type="text" class="form-control" id="ipv4_address" name="ipv4_address" value="{{ serv.ipv4_address }}">
  </div>

  <div class="mb-3 mt-3">
    <label for="password" class="form-label">Ingrese la nueva Contraseña:</label>
    <input type="password" class="form-control" id="password" name="password" value="{{ serv.password }}">
  </div>

  <div class="mb-3 mt-3">
    <label for="sysadmin" class="form-label">Ingrese la el nuevo Sys Admin que administrará el Servidor:</label>
    <select name="select">
      <option value="value1">Value 1</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
  </div>

  <button type="submit" class="btn btn-info">Guardar Cambios</button>
</form>
{% endblock %}
