{% extends 'base_admin.html' %}
{% block titulo %}Lista administradores{% endblock %}
{% block encabezado %}Lista administradores{% endblock %}
{% block contenido %}
{% if messages %}
<ul class='messages'>
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% if admins %}
<article class="container">
  <div class="table-responsive">
    <table class="table table table-blue">
      <thead>
        <tr>
          <th>Nickname del Admin</th>
          <th>Opciones</th>
        </tr>
      </thead>
  
      <tbody>
      {% for admin in admins %}
        <tr>
          <td>{{ admin.user_name }}</td>
          <td>
            <a href="{% url 'editar_admin' admin.uuid %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'eliminar_admin' admin.uuid %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid"></div>
  </nav>
{% else %}
  <h1>No existen administradores registrados</h1>
{% endif %}
{% endblock %}
