{% extends 'base_admin.html' %}
{% block titulo %}Listado de Servidores{% endblock %}
{% block encabezado %}Listado de Servidores{% endblock %}
{% block contenido %}
{% if messages %}
<ul class='messages'>
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% if servers %}
<div class="card">
  <div class="card-header">
    <strong class="card-title">Listado de Servidores</strong>
  </div>
  <div class="table-stats order-table ov-h">
    <table class="table">
      <thead>
        <tr>
          <th>Dirección IP</th>
          <th>Admin ligado</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for server in servers %}
        <tr>
          <td>{{ server.ipv4_address }}</td>
          <td>{{ server.sysadmin.user_name }}</td>
          <td>
            {% if server.status %}
              Activo
            {% else %}
              Inactivo
            {% endif %}
          <td>
            <a href="{% url 'editar_server' server.uuid %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'eliminar_server' server.uuid %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen servidores registrados</h1>
{% endif %}

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

{% endblock contenido %}

{% block extrajs %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function (){
      $(this).modal('show');
    });
  }
  function abrir_modal_creacion(url){
    $('#creacion').load(url,functestadoion(){
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs %}